div {
    width: 960px;
    margin: 10px auto;

}

#zmija {
    position: relative;
    top: 50px;
    left: 100px;
}

#medved {
    position: absolute;
    top: 10px;
    right: 0px;

}

#zene {
    position: absolute;
    bottom: 0px;
  

}

div a{
    position: fixed;
    bottom: 10px;
    right: 10px;
    
}
